@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  all: unset;
}

body {
  /* Colors */
  --background:#E0E0E0;
  --surface: #F7F7F7;
  --primary: #B00303;
  --primary-dark: #7B0000;
  --text: #1F1F1F;
  --subtext: #424242;

  --scheduleRowHeight: 15rem;

  background: var(--background);
  font-family: "Roboto", sans-serif;
}