.header {
  background: var(--surface);
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 2rem;
}

.header-logo {
  & img {
    height: 2.5rem;
    width: 2.5rem;
  }
}
